.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0px 31px 68px -49px rgba(0, 0, 0, 0.75);
  padding: 15px;
}

.product-title{
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
}


.product img{
  width: 240px;
}

.product-price{
  font-size: 24px;
  font-weight: 700;
}

.price-symbol{
  font-size: 26px;
}
.price-usd{
  font-size: 14px;
  color: rgb(68, 68, 68);
}

button{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 800;
  width: 150px;
  height: 40px;
  margin: 50px 0 50px 0;
  background-color: rgb(170, 170, 204);
  color: rgb(44, 44, 44);
  border: 0.5px solid white;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(46, 46, 216);
  color: white;
}